 <p class="mt-5 mb-5 pb-2 pt-2">
                Made with ❤️ by <a class="btn btn-sm badge rounded-pill bg-primary text-light"
                    href="https://github.com/apaardahal" target="blank">Appar Dahal</a>, <a
                    class="btn btn-sm badge rounded-pill bg-success text-light"
                    href="https://github.com/itSubeDibesh" target="blank">Dibesh
                    Raj Subedi</a>
            </p>