<footer class="sticky-bottom bg-dark text-center text-light">
     <div class="container">
           {{> contributors}}
     </div>
</footer>


<script src="/Assets/Vendor/jquery/jquery-3.5.1.min.js"></script>
<script src="/Assets/Js/bootstrap.min.js"></script>
<script src="/Assets/Vendor/fontawesom/js/all.min.js"></script>

</html>