<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Dibesh Raj Subedi">
    <title>{{title}} | Member Management System</title>

    <link href="/Assets/Css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/Vendor/fontawesom/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <style>
        html,
        body {
            height: 95.4%;
        }

        #wrap {
            min-height: 100%;
        }

        #main {
            overflow: auto;
        }

        .footer {
            position: relative;
            clear: both;
        }
    </style>
</head>