# ------------------------------
#  Server Configuration Starts
# ------------------------------
    PORT = 9876
#  Server Configuration Ends

# ------------------------------
# Session Secret Starts
# ------------------------------
    SECRET = ThisIsMySessionSecret@2021
#  Session Secret Ends

# ------------------------------
# Loging Server Configuration Starts
# ------------------------------
    LOG_DIR = LOGS
    CLEAR_LOGS = false
    SET_JSON = false
    LOG_TO_CONSOLE = false
# Loging Server Configuration Ends

# ------------------------------
# Database Configuration Starts
# ------------------------------
    DB_HOST = 127.0.0.1
    DB_USER = root
    DB_Password = ''
    DB_NAME = membership
    DB_PORT = 3306
    SELECT_LIMIT = 10
# Database Configuration Ends

# ------------------------------
# Node Mailer Configuration Starts
# ------------------------------
    MAILER_HOST = smtp.mailtrap.io
    MAILER_PORT = 2525
    MAILER_USER = 553582324dac8f
    MAILER_PASSWORD = b77dfe9eca847f
    DBA_EMAILS = "dibeshrsubedi@gmail.com"
# Node Mailer Configuration Starts

# ------------------------------
#  MySql Backup and Restore Configuration Starts
# ------------------------------
    DUMP_DIRECTORY = BACKUPS
    COMPRESS_FILE = true
    BACKUP_SCHEDULE_HOUR = 16 
    BACKUP_SCHEDULE_MINUTE = 30
    BACKUP_SCHEDULE_SECONDS = 05
#  MySql Backup and Restore Configuration Ends

# ------------------------------
# Development Functionalities Starts
# ------------------------------
    HIDE_PERMISSION_ACTIONS = true
# Development Functionalities Ends