<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="author" content="Dibesh Raj Subedi, Appar Dahal">
    <title>{{title}} | Member Management System</title>

    <link href="./Assets/Css/bootstrap.min.css" rel="stylesheet">
    <link href="./Assets/Vendor/fontawesom/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>

    {{{body}}}

    <script src="./Assets/Vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="./Assets/Js/bootstrap.min.js"></script>
    <script src="./Assets/Vendor/fontawesom/js/all.min.js"></script>
</body>

</html>